a.kinotracker_link {
	color: hsl(200, 100%, 35%);
	text-decoration: none;
    margin: 0 5px;
}

a.kinotracker_link:hover {
	color: hsl(200, 100%, 50%);
}

.kinotracker_block {
    padding: 5px;
    display: inline-block;
    background: #f8f8f8;
    border-radius: 5px;
    margin-left: 10px;
}

.kinotracker_block:hover {
    background: #fff;
    border-radius: 5px;
}

.kinotracker_img {
    width: 16px;
    height: 16px;
}

.kinotracker_marked {
    background: hsla(55, 100%, 50%, .3);
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px hsla(55, 100%, 45%, 0.3);
    margin: 0 -3px;
    padding: 3px;
}