.kinotracker_link {
    position: relative;
    display: inline-block;

    margin: 0;
    padding: 3px;

    color: hsl(200, 100%, 35%);
    text-decoration: none;
    opacity: .9;
    background: hsla(0,0%,100%,.85);
    border-radius: 2px;

    vertical-align: middle;
}

.kinotracker_link + .kinotracker_link {
    margin: 0 0 0 5px;
}

.kinotracker_link:hover {
    background: hsla(0,0%,100%,1);
	color: hsl(200, 100%, 50%);
    opacity: 1;
}

.kinotracker_block {
    position: relative;
    display: inline-block;

    margin-left: 10px;
    padding: 4px 4px 4px 10px;

    cursor: default;
}

.kinotracker_block:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #FF4E00;
    border-radius: 5px;

    animation: .3s bounceIn;
}

.kinotracker_img {
    width: 16px;
    height: 16px;
}

.kinotracker_marked {
    background: hsla(55, 100%, 50%, .3);
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px hsla(55, 100%, 45%, 0.3);
    margin: 0 -3px;
    padding: 3px;
}

.kinotracker_label {
    position: relative;
    display: inline-block;

    margin: 0 5px 0 0;

    color: #fff;
    font: 13px/1.3 Tahoma, Arial, sans-serif;
    vertical-align: middle;
}


@keyframes bounceIn {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    80% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}