.kinotracker-bubble
    position absolute
    display flex

    margin -20px 4px 0

    background white
    border-radius 3px
    box-shadow 1px 1px 4px -2px black

    &__info
        padding 10px

    &__header
        margin-bottom 0px

    &__title
        font-size 16px

    &__name
        font-size 14px
        color #888

    &__year
        margin-left 8px
        font-size 14px
        color #888

    &__rating
        padding 10px
        background orange
        color white
