doctype
html

    head
        meta( charset="utf-8" )
        meta( name="viewport" content="initial-scale=1.0, user-scalable=no" )
        link( type='text/css' href='options.css' rel='stylesheet' )
        title KinoTracker
        script( src='jquery.js' )
        script( src='options.js' )

        block optional_head

    body.options
        .options__header
            a.options__logo( href="http://www.kinopoisk.ru" data-title="GoToKinopoisk" )
                include ../icons/logo-kinotracker-big.svg
        .options__list
            .options__item
                label.options__label( data-text="SortResults" )
                = " "
                label.options__label( data-text="SortBy" )
                label.options__label= " "

                .options__dropdown.dropdown.js_sort.js_dropdown( data-value="7" )
                    button.dropdown__toggle.js_dropdown_toggle( data-text="SortBySize" )
                    .dropdown__list
                        button.dropdown__item( data-value="1" data-text="SortByDate" )
                        button.dropdown__item( data-value="2" data-text="SortByName" )
                        button.dropdown__item( data-value="4" data-text="SortByDownloads" )
                        button.dropdown__item( data-value="7" data-text="SortBySize" )

                label.options__label
                    button.options__toggler.toggler.toggler_off.js_order.js_toggler(
                        data-on=1
                        data-on-title="SortOrderAsc"
                        data-off=2
                        data-off-title="SortOrderDesc"
                    )


            .options__item

                label.checkbox
                    input.checkbox__input.js_add_tag( type='checkbox' )
                    .checkbox__mark
                        include ../icons/checkbox.svg
                    | &nbsp;
                    .checkbox__label( data-text='AddTags' )
                    .checkbox__label.checkbox__label_optional :

                .options__item
                    input.options__input.js_tag( type='text' data-placeholder='TagsPlaceholder' )


        .options__buttons
            button.button.button_primary.js_save_btn( data-text='Save' )
            button.button.button_lite.js_cancel_btn( data-text='Cancel' )
            //-button.button.button_reset.js_reset_btn Reset

