include ../../node_modules/bemto.jade/bemto
doctype
html

    head
        meta( charset="utf-8" )
        meta( name="viewport" content="initial-scale=1.0, user-scalable=no" )
        link( type='text/css' href='options.css' rel='stylesheet' )
        title KinoTracker

        block optional_head

    body.options#options
        +e.header
            +e.A.logo( href="http://www.kinopoisk.ru" rv-title="'GoToKinopoisk' | localize" target='_blank' )
                include ../icons/logo-kinotracker-big.svg
        +e.list
            +e.item
                +e.LABEL.label { 'SortResults' | localize } { 'SortBy' | localize }
                | &nbsp;

                +e.dropdown.dropdown( data-value='7' )
                    +e.BUTTON.toggle { 'SortBySize' | localize }
                    +e.list
                        +e.BUTTON.item( value="1" ) { 'SortByDate' | localize }
                        +e.BUTTON.item( value="2" ) { 'SortByName' | localize }
                        +e.BUTTON.item( value="4" ) { 'SortByDownloads' | localize }
                        +e.BUTTON.item( value="7" ) { 'SortBySize' | localize }

                +e.LABEL.label
                    +b.BUTTON.toggler.toggler( rv-title="model.sortOrderKey | localize" )

            +e.item
                +b.LABEL.checkbox
                    +e.INPUT.input( type='checkbox' )
                    +e.mark
                        include ../icons/checkbox.svg
                    | &nbsp;
                    +e.label { 'AddTags' | localize }
                    +e.label_optional :

            +e.item
                +e.INPUT.input( type='text' rv-placeholder="'TagsPlaceholder' | localize" )

        +e.buttons
            +b.BUTTON.button_primary { 'Save' | localize }
            +b.BUTTON.button_lite { 'Cancel' | localize }

        script( src='options.js' )
