$brand-color = #5651a2

@import "blocks/dropdown"
@import "blocks/toggler"

*
    margin 0
    padding 0

    &
    &:before
    &:after
        box-sizing inherit

    &:disabled
        cursor default
        -webkit-user-select none

        &[type=text]
            display none

    &:focus
        outline none

html
    background #fff
    font-family Segoe UI, Arial, Helvetica, sans-serif
    -webkit-user-drag none
    -webkit-user-select none
    cursor default
    box-sizing border-box
    display flex
    min-width 285px

a
button
    cursor pointer

    &:focus
        outline none

input[type=text]
    position relative

    display inline-block
    width 100%

    padding 8px

    font-size .9em
    border none
    border-radius 3px

    box-shadow 0 .8px hsla(0, 0%, 0%, .15) inset


input::-webkit-input-placeholder
    color #ccc

div#options > div
    margin 0 auto
    padding 2px 5px
    width 220px

div#options
    margin 0 auto
    width 220px

div#logo, div#buttons
    margin-bottom 10px
    text-align center

div#buttons
    cursor default

.button
    $offset = 2.3px
    $padding = 7px 16px 6px

    position relative

    margin 0
    padding $padding

    border none

    font-size 12px

    transform translateY(0)
    transition .07s 0s ease-in-out
    transition-property transform, box-shadow


    &_primary
        $color = #46C652

        background $color
        color #fff

        border-radius 3px
        box-shadow:
                0 $offset darken($color, 20%),
                0 $offset* 1.75 hsla(0, 0%, 0%, .05)

        &:active
            transform translateY($offset)
            box-shadow:
                    0 0 darken($color, 20%),
                    0 0 hsla(0, 0%, 0%, .07)

    &_lite
        background none
        padding 0

        color #666
        will-change color, transform

        &
        &:active
            box-shadow none

        &.button
            margin $padding

        &:active
            color #333
            transform translateY(.8px)

        & + &
            margin 0 0 0 8px

.options
    background linear-gradient(to bottom, #fafafa, #f4f4f4)
    border-radius 3px
    box-shadow 0 0 35px -10px hsla(0, 0%, 0%, .5)
    margin 50px auto
    padding 16px 20px 20px

    &__logo
        display block

        margin-bottom 16px
        padding-bottom 8px

        border-bottom .5px solid hsla( $brand-color, .1 )
        text-align center

        svg
            width 200px

    &__item
        margin 8px 0
        white-space nowrap

        & + &
            margin-top 16px

        &_inline
            display inline-block
            margin 0

            & + &
                margin 0

    &__label
        margin 0 0 8px

        color #333

        white-space nowrap

        &_line
            display block
            margin 0 0 2px

    &__buttons
        margin-top 16px
        padding-top 16px

        border-top .5px solid hsla( $brand-color, .1 )
        text-align center

    &__dropdown .dropdown__list
        left -8px

.checkbox
    $this = checkbox
    $size = 15px
    position relative

    &__input
        width 0
        margin 0 $size + 4px 0 0

        &:before
            content ''
            position absolute
            top 1px
            width $size
            height $size

            background #fff
            border 1px solid #ccc
            border-radius 2px

    &__mark
        opacity 0
        width $size - 3
        top 2px
        left 2px
        position absolute

        .{$this}__input:checked ~ &
            opacity 1

    &__label
        display inline-block
        color #333
        white-space nowrap
        cursor pointer

        &_optional
            display none

        .{$this}__input:checked ~ &
            display inline-block


